body {
    font-family: Arial, sans-serif;
    background-image: url("https://blog.1password.com/articles/password-reuse/header.png");
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background: #90D5FF;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #111184;
}

input, button {
    font-size: 16px;
    padding: 10px;
    margin: 10px 0;
    width: 50%;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#result {
    font-weight: bold;
    color: #333;
}

#advice {
    text-align: left;
    margin-top: 20px;
}
